.block {
    height: 100px;
}

.block1 {
    background-color: #EB5757;
}

.block2 {
    background-color: #F2994A;
}

.block3 {
    background-color: #F2C94C;
}

.block4 {
    background-color: #219653;
}

.block5 {
    background-color: #27AE60;
}

.block6 {
    background-color: #6FCF97;
}

.block7 {
    background-color: #2F80ED;
}

.block8 {
    background-color: #2D9CDB;
}

.block9 {
    background-color: #56CCF2;
}

.block10 {
    background-color: #9B51E0;
}

.block11 {
    background-color: #BB6BD9;
}

.block12 {
    background-color: #BDBDBD;
}